.print{
    /* padding: "10px 0"; */
    flex-direction : "column";
    display: "block";
    justify-content: "center";
    align-items: "center";
    /* margin-top: 1px; */
}
/* .pagebreak{
    page-break-before: always !important;
} */
 @media print {
    .print{
        display: block;
      
    }
}
    html,body{
        height: initial !important;
        overflow: initial !important;
    }
   
@page{
    size: "A4";
    margin-top: 2mm;
    margin-bottom:2mm ;
    /* margin: 50px; 
    margin-bottom:30mm ;
    /* margin: 10mm 10mm 25mm 12mm ; */
    /* margin-top: 10mm ;
    margin-bottom:30mm ; */

    /* page-break-after: always; */
}